*{

}
.bg-main{
    background-color: #419838;
}
.text-main{
    color: #3E3D3B !important;
}
.icon-main{
    color: #419838;
}
.header-main{
    background-color: rgba(0, 0, 0, 0.65);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    transition: .5s;
}
.header-main:hover{
    background-color: rgba(0, 0, 0, .5);
}
.navbar-brand img{
    width: 69px;
}
input{
    outline: none;
}

.introduce img{
    width: 98px;
}

.introduce{
    background-color:rgba(65, 152, 56, .7);
}
marquee img{
    width: 60px;
}

a.list-group-item.active{
    background: #419838 !important;
    border: none;
}

/* product */
.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #419838 !important;
    background-color: white;
    border-bottom: 1px solid #419838 !important;
    border-radius: 0;
}


.tab-content img:hover{
    transition: all .2s ease-in;
    transform: scale(1.1);
}

.mobile .offcanvas-start{
    width: 300px;
}

.menu .nav-link:hover{
    transition: all .2s ease-in-out;
    color: #ffffff !important;
    border-bottom: 1px solid white;
}

.header-main .shop-cart:hover i{
    transition: all .3s ease-in-out;
    color: #ffffff !important;
}

.star-product img:hover{
    transition:  0.3s ease-in-out;
    transform: scale(1.2);
}

.content table img{
    width: 38px;
}
.login{
    background: radial-gradient(circle, #419838, #3E3D3B);
    height: 100vh;
}
.form-login{
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff;
    width: 450px;
}


.content-introduce{
    background-color: #f8e5de !important;
}